.project-tab-title-container {
    position: relative;
    display: inline-block;
}

.project-tab-title-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.todo-tab-title-container {
    position: relative;
    display: inline-block;
}

.todo-tab-title-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.inbox-todos,
.project-todos-container {
    min-height: 50px;
}