html,
body,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rethink Sans", sans-serif;
}

:root {
    --tab-width: 250px;
    --main-color: rgb(61, 61, 61);
    --accent-color: rgb(221, 221, 221);
    --title-font-weight: 800;
    --tab-font-weight: 600;
}

.page-container>* {
    z-index: 1;
}

.buttons {
    width: 90px;
    border-radius: 2rem;
    display: flex;
    gap: 1rem;
    font-size: 1.4rem;
    padding: 1rem;
    background-color: var(--main-color);
    box-shadow: 0 2px 5px black;
    position: fixed;
    bottom: 1rem;
    /* right: calc(calc(var(--tab-width) / 2) - 45px); */
    right: 1rem;
    z-index: 2;
}

.buttons>i {
    color: var(--accent-color);
}

.buttons>i:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.tab {
    grid-column: 1/2;
}

.page-container {
    position: relative;
    display: grid;
    grid-template-columns: var(--tab-width) 1fr;
    /* grid-template-rows: min-content 4fr; */
    column-gap: 1rem;
    height: 100vh;
}

.tab-wrapper {
    z-index: 0;
    background-color: var(--main-color);
    grid-column: 1/2;
    grid-row: 1/3;
}

.inbox {
    color: var(--accent-color);
    font-weight: var(--title-font-weight);
    grid-column: 1/2;
    grid-row: 1/2;
    width: 220px;
    padding: 1rem 0 3rem 1rem;
}

.inbox-tab {
    user-select: none;
    cursor: pointer;
}

.inbox-tab:hover {
    color: rgb(255, 255, 255);
}

.todo-tab {
    margin-left: 1rem;
    position: relative;
    width: 150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, fit-content);
    /* flex-wrap: wrap; */
    column-gap: 1rem;
}

.todo-tab::before {
    content: '#';
    position: absolute;
    left: -1.5rem;
    color: var(--accent-color);
    font-weight: 300;
    /* align-self: center; */
}

.todo-tab-title-container {
    position: relative;
}

.todo-tab-title {
    appearance: none;
    background-color: transparent;
    border: none;
    color: var(--accent-color);
    font-weight: var(--tab-font-weight);
    font-size: 1rem;
    width: 12ch;
}

.todo-tab-title::placeholder {
    color: var(--accent-color);
    font-weight: 600;
}

.todo-tab-title-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.todo-tab-remove {
    color: var(--accent-color);
    appearance: none;
    border: none;
    background-color: transparent;
    align-self: center;
}

.todo-tab-remove:hover {
    color: red;
}

.todo-tab-duedate {
    font-size: 0.8rem;
    font-weight: var(--tab-font-weight);
    color: color-mix(in srgb, var(--accent-color), black 20%);
}

.todo-container {
    /* z-index: 10; */
    width: calc(calc(100vw - var(--tab-width)) - 2rem);
    max-height: 100vh;
    overflow-y: scroll;
    grid-row: 1/3;
    grid-column: 2/3;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr repeat(5, min-content);
    grid-template-rows: min-content 40vh auto min-content min-content;
    position: fixed;
    left: calc(var(--tab-width) + 1rem);
    top: 1rem;
    gap: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.todo-container::-webkit-scrollbar {
    display: none;
}

.todo-due-date {
    background-color: var(--accent-color);
    /* appearance: none; */
    border: none;
    border-radius: 2rem;
    padding: 0.4rem;
    grid-column: 3/4;
}

.todo-due-date:focus {
    outline: 2px solid black;
}

.todo-due-date:hover {
    background-color: color-mix(in srgb, var(--accent-color), black 10%);
}

.todo-title {
    appearance: none;
    color: var(--main-color);
    border: none;
    background-color: white;
    font-size: 3rem;
    font-weight: 600;
    justify-self: start;
    width: 100%;
    /* min-width: 250px; */
    outline: none;
    overflow-wrap: break-word;
}

.todo-title:disabled,
.todo-desc:disabled,
.todo-notes:disabled {
    color: var(--main-color);
    text-decoration: line-through;
}

.todo-title::placeholder {
    color: rgb(179, 179, 179);
}

.todo-desc {
    outline: none;
    resize: none;
    border: none;
    background-color: white;
    font-size: 1.2rem;
    align-self: start;
    width: 100%;
    height: 100%;
    min-width: 250px;
    grid-column: 1/2;
    grid-row: 2/3;
}

.todo-desc::placeholder {
    color: rgb(179, 179, 179);
}

.todo-notes {
    border: none;
    background-color: var(--accent-color);
    /* border: 2px solid black; */
    border-radius: 0.3rem;
    padding: 0.3rem;
    font-size: 1rem;
    justify-self: start;
    width: 50vw;
    resize: vertical;
    grid-row: 4/5;
}

.todo-notes:disabled {
    background-color: color-mix(in srgb, var(--accent-color), black 10%);
}

.todo-select {
    background-color: var(--accent-color);
    padding: 0.4rem;
    border: none;
    border-radius: 0.4rem;
}

.todo-select:focus {
    outline: 2px solid black;
}

.todo-select:active {
    background-color: color-mix(in srgb, var(--accent-color), black 10%);
}

.option {
    background-color: white;
}

.checkbox-container {
    justify-self: start;
    grid-row: 3/4;
    grid-column: 1/-1;
}

.checkbox-item-container {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.checkbox-title {
    text-overflow: ellipsis;
    font-size: 1rem;
    outline: none;
    border: none;
    background-color: white;
}

.add-checkbox {
    appearance: none;
    background-color: var(--accent-color);
    padding: 0.4rem;
    border-radius: 0.4rem;
}

.add-checkbox:disabled {
    background-color: color-mix(in srgb, var(--accent-color), black 10%);
}

.add-checkbox:hover {
    background-color: var(--main-color);
    color: var(--accent-color);
}

.todo-status-label {
    display: flex;
    /* flex-wrap: wrap; */
    column-gap: 0.6rem;
}

.project-tabs-container {
    display: flex;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 2/3;
    padding-bottom: 1rem;
}

.project-tab {
    padding-left: 1rem;
    padding-top: 1rem;
    display: flex;
    width: 220px;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 0.8rem;
}

.project {
    font-size: 1.4rem;
    padding-bottom: 0.2rem;
    font-weight: var(--title-font-weight);
}

.project-tab-title {
    outline: none;
    appearance: none;
    background-color: transparent;
    border: none;
    color: var(--accent-color);
    width: 8ch;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.project-tab-remove,
.project-tab-edit {
    border-radius: 0.4rem;
    color: var(--accent-color);
    padding: 0.4rem;
}

.project-tab-remove:hover {
    color: red;
}

.project-tab-edit:hover {
    color: green;
}

input.project-tab-title {
    width: 8ch;
}

.project-tab-title:hover {
    color: white;
}

.project-tab-title-container {
    position: relative;
}

.project-tab-title-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.inbox-todos,
.project-todos-container {
    min-height: 50px;
    margin-left: 20px;
    word-wrap: break-word;
}

.inbox-todos {
    display: flex;
    flex-direction: column;
}